body{
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-page{
    display: grid;
    grid-template-areas: "topic-head topic-head topic-head topic-head"
                          "left-one left-one right-one right-one"
                          "left-two left-two right-two right-two"
                          "left-three left-three right-three right-three"
                          "assessment assessment assessment assessment"
                          "roadmap roadmap roadmap roadmap"
                          "left-four left-four right-four right-four"
                          "certs certs soft-skills soft-skills"
                          "implement implement habits habits"
                          "money money money money";
   max-width: 1300px;
   margin: 40px auto 40px auto;
}


.topic-head{
    background-color: #4f4949;
    color: white;
    grid-area: topic-head;


}
.topic-head h2{
   color:#e8d541 ;
   text-align: center; 

}
.topic-head h1{
    text-align: center;
}

.left-one{
    background-color: #bab3b3;
   padding: 20px;
   margin-bottom: 20px;
   grid-area: left-one;
 
}
.left-one h1{
    color: white;
    text-align: center;
}
.right-one{
    background-color:  #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: right-one;
    
}
.right-one h1{
    color: #e8d541;
    text-align: center;
}

.left-two{
    background-color: #e8d541;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: left-two;
}

.right-two{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: right-two;
}

.left-three{
    background-color: #c7c6bf;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: left-three;
}
.left-three h1{
    color: white;
}
.right-three{
    background-color: #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: right-three;
}
.right-three h1{
    color: #e8d541;
}

.assessment{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: assessment;
}
.assessment h1{
    text-align: center;
}

.roadmap {
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: roadmap;
    text-align: center;
}
.roadmap h2{
    color: #e8d541;
    text-align: center;
}
.roadmap h1{
    text-align: center;
}

.left-four{
    background-color: #bab3b3 ;
    color:#6e6d66;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: left-four;
}
.left-four h1{
    color: white;
}
.right-four{
    background-color: #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: right-four;
}
.right-four h1{
    color: #e8d541;
}
.certs{
    background-color: #e8d541;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: certs;
}

.soft-skills{
    background-color: white;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: soft-skills;
}

.implement{
    background-color: #adab9a;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: implement;
}
.implement h1{
    color: white;
}
.habits{
    background-color:#4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: habits;
}
.habits h1{
    color: #e8d541;
}

.money{
    background-color: #061c08;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: money;
}
.money h1{
    color: #208029;
}