body{
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-page{
    display: grid;
    grid-template-columns: "topic-head topic-head topic-head topic-head"
                            "left-one left-one right-one right-one"
                            "left-two left-two right-two right-two";

}


.topic-head{
    background-color: #4f4949;
    color: white;
    grid-area: topic-head;

}
.topic-head h2{
   color:#e8d541 ; 

}
.left-one{
    background-color: #bab3b3;
   padding: 20px;
   margin-bottom: 20px;
   grid-area: left-one;

 
}
.left-one h1{
    color: white;
}
.right-one{
    background-color:  #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: right-one;
    
}
.right-one h1{
    color: #e8d541;
}

.left-two{
    background-color: #e8d541;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
}

.right-two{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.left-three{
    background-color: #c7c6bf;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
}
.left-three h1{
    color: white;
}
.right-three{
    background-color: #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.right-three h1{
    color: #e8d541;
}

.assessment{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.roadmap {
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.roadmap h2{
    color: #e8d541;
}

.left-four{
    background-color: #bab3b3 ;
    color:#6e6d66;
    padding: 20px;
    margin-bottom: 20px;
}
.left-four h1{
    color: white;
}
.right-four{
    background-color: #4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.right-four h1{
    color: #e8d541;
}
.certs{
    background-color: #e8d541;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
}

.soft-skills{
    background-color: white;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
}

.implement{
    background-color: #adab9a;
    color: #4f4949;
    padding: 20px;
    margin-bottom: 20px;
}
.implement h1{
    color: white;
}
.habits{
    background-color:#4f4949;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.habits h1{
    color: #e8d541;
}

.money{
    background-color: #061c08;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.money h1{
    color: #208029;
}